#.gitignore file

#Ignore all files
**/*

#Keep these files
!.github/
!.github/workflows/
!.github/workflows/build_image_cloud.yaml
!.gitignore
!archlinux-arm-lima.code-workspace
!build.sh
!create-archlinux-template.sh
!create-image.sh
!LICENSE
!README.md